<ng-template #content let-modal>

  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">{{labels.SELECT_TRANSFORMER_TYPE}}</h6>
    <div  class="close-button" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <div class="modal-body">



    <form [formGroup] = "tranformerTypeForm">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          formControlName="type"
          name="type"
          value="{{transformerType.DISTRIBUTION}}"
          class="custom-control-input"
          id="{{transformerType.DISTRIBUTION}}"
        >
        <label
          class="custom-control-label"
          for="{{transformerType.DISTRIBUTION}}">
          {{transformerType.DISTRIBUTION}}
        </label>
      </div>

      <div class="custom-control custom-radio">
        <input
          type="radio"
          formControlName="type"
          name="type"
          value="{{transformerType.ISOLATION}}"
          class="custom-control-input"
          id="{{transformerType.ISOLATION}}"
        >
        <label
          class="custom-control-label"
          for="{{transformerType.ISOLATION}}">
          {{transformerType.ISOLATION}}
        </label>
      </div>
      <button class="btn btn-outline-primary" [disabled]="tranformerTypeForm.controls.type.invalid"  (click)="onNext()">{{buttons.NEXT}}</button>
    </form>

    <p>Form value: {{ formValue}}</p>







  </div>

  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>

</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">
  <fa name="plus"></fa>
  {{buttons.ADD_NEW_DESIGN}}
</button>

<pre>{{closeResult}}</pre>
